@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-primary: #ffffff;
	--color-secondary: #faf6f4;
	--color-primary-dark: #00021c;
	--color-secondary-dark: #00021c;
	@keyframes spin-slow {
    to {
      transform: rotate(360deg);
    }
  }
  --animate-spin-slow: spin-slow 3s linear infinite;
}

* {
  font-family: "Kanit", sans-serif;
}

html {
  scroll-behavior: smooth;
}
